.header {
  color: whitesmoke;
  background-color: #33b2dd;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 4px 4px -4px gray;
  //border-bottom: 1px solid #cdcdcd;
}
.header-container {
  width: 99%;
}

.header-logo {
  font-size: 18px;
}

.MuiGrid-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
