#root {
  margin: 0;
  background-color: #dde6ed;
  min-height: 100%;
  min-width: 100%;
  font-family: sans-serif;
  //background-image: url('../../static/background.jpg');
  // background-position: left center;
  // background-repeat: repeat;
  // background-size: 300px 300px;
}
